* {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

body {
	background-color: #000;
	color: #999;
}

div, canvas {
	position: absolute;
	user-select: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

canvas {
	touch-action: none;
	pointer-events: none;
}

#gameDiv {
	font-family: emoji, Arial;
	font-size: 60px;
}

#gameDiv div {
	position: relative;
}

#gameDiv nav {
	margin: 0 10px;
	float: left;
	opacity: 0.75;
	font-size: 99px;
	cursor: pointer;
}

#gameDiv nav:hover, #frameDiv:hover {
	opacity: 1;
}

#menuDiv {
	text-align: center;
	margin-top: -60px;
}

#menuDiv nav {
	margin: 9px;
	float: unset;
	font-size: 45px;
}

#resDiv {
	margin: 9px;
}

#resDiv b, #menuDiv b {
	font-family: Arial;
	font-size: 50px;
}

@font-face {
	font-family: emoji;
	src: url(Twemoji.ttf)
}